$color-title-text: #212121;
$color-accent: #2196f3;
$color-white-primary: #ffffff;
$color-text-primary: #757575;
$bg-color-primary: #f5f4fa;
$bg-color:#2f303a;
$bg-backdrop: rgba(0, 0, 0, 0.2);
$bg-color-link:rgba(255, 255, 255, 0.1);
$color-icon: #AFB1B8;
$bg-hover: #188CE8;

$color-logo-primary:#2196f3;
$color-logo-secondary: #000000;

$border-color-form: rgba(33, 33, 33, 0.2);
$border-color-primary: #EEEEEE;
$border-color-secondary: #ececec;
$border-color-button-close: rgba(0, 0, 0, 0.1);
$border-color-link: #afb1b8;
$border-color-mail: rgba(255, 255, 255, 0.3);

$linear-gradient-hero: linear-gradient(
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
);

$font-family-primaty: 'Roboto', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;

$cubic-bezier-primary: cubic-bezier(0.4, 0, 0.2, 1);
