<header class="header">
  <div class="container">
    <div class="header__navigation">
      <a href="./index.html" class="logo header__logo">
        <span class="logo__title">STEVEN FOX</span>
        <span class="logo__text">Sports Photography</span>
      </a>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link" href="./index.html">Featured</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./action.html">Action</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./portfolio.html">Portfolio</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./albuma.html">Albuma</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./about.html">About</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./more.html">More</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
